/*================================
        BOOTSTRAP MEDIA QUERIES
 =================================*/

/*== Large Devices (>= 1200px) ==*/
@media (min-width: 1200px) {
	/* OK */
}


/*== Medium Devices (>= 992px) ==*/
@media (min-width: 992px) and (max-width: 1199px) {
	
	/* <-- Mobile Menu --> */
	.navbar {
		background: rgba(0,0,0,0.7);
		padding: 0;
	}

	.navbar-nav {
		float: left;
		margin-left: 10px;
	}

	.vesco-nav-wrapper {
		padding: 0;
	}

}


/*== Small Devices (>= 768px) ==*/
@media (min-width: 768px) and (max-width: 991px) {

	/* <-- Mobile Menu --> */
	.navbar {
		background: rgba(0,0,0,0.7);
		padding: 0;
	}

	.navbar-nav {
		float: left;
		margin-left: 10px;
	}

	.vesco-nav-wrapper {
		padding: 0;
	}

	/* <-- ABOUT - Removing Diagonal --> */
	#about-bg-diagonal {
		width: 100%;
   		height: 350px;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		float: none;
	}

	#about-content-box {
		width: 100%;
		height: 350px;
	}

	/* <-- STATS --> */
	.stats-item {
		padding: 20px 0;
	}

	/* <-- CONTACT --> */
	#footer-copyrights {
		text-align: center;
	}

}


/*== Extra Small Devices (< 768px) ==*/
@media (max-width: 767px) {
	
	/* <-- Mobile Menu --> */
	.navbar {
		background: rgba(0,0,0,0.7);
		padding: 0;
	}

	.navbar-nav {
		float: left;
		margin-left: 10px;
	}

	.vesco-nav-wrapper {
		padding: 0;
	}

	/* <-- Buttons --> */
	.btn-general {
		padding: 6px 22px;
		font-size: 14px;
	}

	/* <-- HOME --> */
	#home-heading h3 {
		font-size: 24px;
	}

	/* <-- ABOUT - Removing Diagonal --> */
	#about-bg-diagonal {
		width: 100%;
   		height: 350px;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
		float: none;
	}

	#about-content-box {
		width: 100%;
		height: 350px;
	}

	/* <-- WORK --> */
	.img-wrapper img {
	min-width: 100%;
	}

	/* <-- TESTIMONIALS --> */
	.testimonial blockquote {
		padding: 6px 50px;
	}

	.testimonial blockquote p {
		font-size: 14px;
	}

	.testimonial blockquote:before {
		left: 10px;
	}

	.testimonial blockquote:after {
		right: 10px;
	}

	/* <-- STATS --> */
	.stats-item {
		padding: 20px 0;
	}

	/* <-- CONTACT --> */
	#footer-copyrights {
		text-align: center;
	}

}


@media (max-width: 480px) {
	/* OK */
}


@media (max-width: 320px) {
	/* <-- SERVICES --> */
	.service-item-icon i {
		width: 58px;
		height: 58px;
		padding: 7px;
	}

	.service-item-title h3 {
		font-size: 17px;
	}

	/* <-- TESTIMONIALS --> */
	.testimonial img {
		max-width: 80px;
	}

	.testimonial blockquote {
		padding: 6px 30px;
	}

	.testimonial blockquote:before {
		left: 7px;
	}

	.testimonial blockquote:after {
		right: 7px;
	}
}















