/*========================
  		GENERAL
 =========================*/
* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Roboto Condensed", sans-serif;
	position: relative;
}

h3 {
	color: #41464b;
	text-transform: uppercase;
}

p {
	color: #64707b;
}

.btn-general {
	border-width: 2px;
	border-radius: 0;
	padding: 12px 26px;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
} 

.bg-parallax {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
}

.content-box {
	padding: 60px 0;
}

.content-title h3 {
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin: 40px 0 30px 0;
}

.content-title-underline {
	width: 30px;
	height: 3px;
	background: #34c6d3;
	margin: 0 auto;
	margin-bottom: 30px;
}

/* ------------ Animation ------------ */
#home-cover, #home-heading, #home-btn {
	animation-duration: 0.5s;
}

#home-cover {
	animation-delay: 0.1s;
}

#home-heading {
	animation-delay: 0.5s;
}

#home-btn {
	animation-delay: 1s;
}

/* ------------ Carousel ------------ */
.owl-theme .owl-dots .owl-dot span {
	background:#96e2e8;
}

.owl-theme .owl-dots .owl-dot.active span,.owl-theme .owl-dots .owl-dot:hover span {
	background:#34c6d3;
}

/* ------------ Social Icons ------------ */
.social-list {
	padding-left: 0;
}

.social-list li {
	list-style: none;
	display: inline-block;
	margin: 10px 6px 0 0;
	width: 32px;
	height: 32px;
}

.social-icon i {
	font-size: 17px;
} 

.social-icon i:hover {
	color: #34c6d3;
}

/*========================
        NAVIGATION
 =========================*/
.navbar {
	padding: 20px 0;
	transition: all ease-in-out 0.5s; 
}

.vesco-top-nav {
	background: rgba(0,0,0,0.7);
	padding: 7px 0;
}

.vesco-nav-wrapper {
	padding: 0 85px;
}

.navbar-nav {
	margin-left: 300px;
}

.navbar-nav li a {
	color: #fff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
}

.navbar-nav li a:hover, .navbar-nav li a:focus {
	color: #34c6d3;
} 

.navbar-toggler {
	background: rgba(0,0,0,0.1);
	border: 1px solid #fff;
	border-radius: 0;
	margin-right: 5px;
}

.navbar-toggler .navbar-toggler-icon {
	background: #fff;
	height: 1.5px;
	display: block;
	margin: 5px 0;
}

ul#vesco-menu li a.active {
	color: #34c6d3;
}



/*========================
  		HOME
 =========================*/
#home-cover {
	background: url(../img/bg-home.jpg) no-repeat center fixed;
	background-size: cover;
	height: 100vh;

}

#home-content-box {
	width: 100%;
	height: 100%;
	display: table;
}

#home-content-box-inner {
	display: table-cell;
	vertical-align: middle;
	/*text-align: center;*/
}

#home-heading h3 {
	color: #fff;
	font-size: 55px;
	font-weight: 700;
	margin: 20px 0;
}

.btn-white {
	border-color: #fff;
	color: #fff;
}

.btn-white:hover, .btn-white:focus {
	background: #fff;
	color: #41464b;
}

/*========================
  		SERVICES
 =========================*/
.service-item {
	padding: 20px 0;
	margin-bottom: 20px;
	cursor: pointer;
}

.service-item-icon i {
	color: #34c6d3;
	float: left;
	padding: 15px;
	margin-right: 25px;
	width: 75px;
	height: 75px;
	text-align: center;
}

.service-item:hover .service-item-icon i {
	background: #34c6d3;
	color: #fff;
} 

.service-item-title h3 {
	font-size: 20px;
	font-weight: 400;
	margin: 0 0 10px 0;
}

.service-item-desc p {
	margin: 0;
	padding-left: 85px;
	font-size: 16px;
	font-weight: 300;
}

/*========================
		ABOUT
 =========================*/
#about-content-box {
	float: left;
	height: 700px;
} 

#about-content-box-outer {
	width: 100%;
	height: 100%;
	display: table;
}

#about-content-box-inner {
	display: table-cell;
	vertical-align: middle;
}

#about .content-title h3 {
	text-align: left;
}

#about .content-title-underline {
	margin: 0 0 30px 0;
}

#about-desc p {
	margin-bottom: 30px;
}

.btn-blue {
	border-color: #34c6d3;
	color: #34c6d3;
}

.btn-blue:hover, .btn-blue:focus {
	background: #34c6d3;
	color: #fff;
}

#about-bg-diagonal {
	width: 60%;
   height: 700px;
   float: right;
   background: url(../img/bg-about.jpg) no-repeat center fixed;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 16% 100%);
}

/*========================
        WORK
 =========================*/
.row .no-gutters [class*=col-] {
	padding-left: 0;
	padding-right: 0;
}

.img-wrapper {
	overflow: hidden;
}

.img-wrapper img {
	transition: transform 0.5s ease;
	width: 341px;
	height: 320px;
}

.img-wrapper img:hover {
	transform: scale(1.5);
	cursor: zoom-in;
}

/*========================
        TEAM
 =========================*/
.team-member-info {
	padding: 20px 0 0 0;
}

h4.team-member-name {
	font-size: 22px;
	font-weight: 700;
	letter-spacing: 1px;
	padding-top: 2px;
}

h4.team-member-designation {
	color: #34c6d3;
	font-size: 15px;
	font-weight: 700;
	font-style: italic;
	letter-spacing: 1px;
	margin-top: 5px;
}

.icon-gray i {
	color: #64707b;
}

/*========================
  		TESTIMONIALS
 =========================*/
#testimonials-cover {
	background: url(../img/bg-testimonials.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
} 

#testimonials .content-box {
	background: rgba(0,0,0,0.1);
}

.content-title-white h3 {
	color: #fff;
}

#customers-testimonials {
	padding: 50px 0;
}

.testimonial img {
	max-width: 120px;
	margin: 0 auto;
}

.testimonial blockquote {
	border: 0;
	font-family: "Georgia", sans-serif;
	font-style: italic;
	padding: 6px 150px;
	color: #fff;
	position: relative;
}

.testimonial blockquote p {
	color: #fff;
}

.testimonial blockquote::before {
	content: "\201C";
	top: 0;
	left: 100px;
}

.testimonial blockquote::after {
	content: "\201D";
	bottom: 0;
	right: 100px;
}

.testimonial blockquote::before, .testimonial blockquote::after {
	font-size: 80px;
	font-style: normal;
	line-height: 1;
	width: 30px;
	height: 30px;
	position: absolute;
}

.testimonial-author p {
	color: #fff;
	font-size: 17px;
}

.testimonial-author p strong {
	display: block;
}

/*========================
  		PRICING
 =========================*/
.pricing-box {
	border: 3px solid #34c6d3;
	padding: 50px 0;
	margin: 40px 0;
} 

h4.pricing-title {
	color: #fff;
	background: #34c6d3;
	display: inline-block;
	padding: 7px 15px;
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

h3.pricing-value {
	font-size: 60px;
	font-weight: 700;
}

h3.pricing-value sup {
	font-size: 28px;
	font-weight: normal;
	vertical-align: super;
}

ul.pricing-spec {
	list-style: none;
	padding-left: 0;
	margin: 20px 0 60px 0;
}

ul.pricing-spec li p {
	font-weight: 400;
	text-transform: uppercase;
}

.pricing-box-lg {
	padding: 90px 0;
	margin: 0;
	background: #34c6d3;
}

.pricing-box-lg h4.pricing-title {
	background: #fff;
	color: #34c6d3;
}

.pricing-box-lg ul.pricing-spec li p {
	color: #fff;
}

/*========================
  		STATS
 =========================*/
#stats-cover {
	background: url(../img/bg-stats.jpg) no-repeat fixed;
	background-size: cover;
}

#stats .content-box {
	background: rgba(0,0,0,0.8);
}

.stats-item {
	padding: 100px 0;
}

.stats-item i {
	color: #34c6d3;
}

.stats-item h2 {
	color: #fff;
	font-size: 35px;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 3px; 
}

.stats-item p {
	color: #fff;
	text-transform: uppercase;
	font-weight: 300;
	margin-top: 0;
}

/*========================
        CLIENTS
 =========================*/
.client {
	padding: 40px 0;
}

/*========================
        CONTACT
 =========================*/
footer {
	background: #41464b;
	padding-top: 30px;
	border-top: 5px solid rgba(0,0,0,0.1);
}

#contact-left h3, #contact-right h3 {
	color: #fff;
	font-size: 27px;
	font-weight: 700;
}

#contact-left p {
	color: #fff;
	font-weight: 300;
	margin-bottom: 30px;
}

#contact-info {
	background: url(../img/world-map.png) no-repeat;
	background-size: contain;
}

address {
	color: #fff;
}

address strong {
	font-size: 16px;
}

address strong, #phone-email-fax strong {
	letter-spacing: 1px;
}

.icon-white i {
	color: #fff;
}

form .form-control {
	background: transparent;
	border-radius: 0;
	border-color: #fff;
	font-size: 17px;
	font-weight: 300;
	padding: 8px 16px;
	margin-bottom: 20px;
	color: #fff;
}

#send-btn {
	margin-bottom: 20px;
}

/*========================
        FOOTER
 =========================*/
#footer-bottom {
	background: rgba(0,0,0,0.1);
	padding: 30px 0;
	margin-top: 60px;	
}

#footer-copyrights p {
	color: #fff;
	margin: 0;
}

#footer-menu {
	float: left;
	color: #fff;
	font-size: 16px;
	font-weight: 300;
}

#footer-menu ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

#footer-menu ul li {
	display: inline-block;
}

#footer-menu a {
	color: #fff;
	font-size: 16px;
	font-weight: 300;
	margin: 0 10px; 
	text-decoration: none;
}

#footer-menu a:hover {
	color: #34c6d3;
}

.btn-back-to-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	font-size: 22px;
	padding: 3px 15px;
	border-radius: 0;
	display: none;
}